<main>
  <app-header></app-header>

  <div class="section-one py-5">
    <div class="container">
      <div class="contact text-center">
        <ul>
          <li>
            <a href="#">pages</a>
            /
            <span>About us </span>
          </li>
        </ul>
        <h2>
          The only marketing tool <br />
          you’ll ever need.
        </h2>
      </div>
    </div>
  </div>

  <!-- section-two start -->
  <div class="section-two py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="img1">
            <img src="../../assets/3pic.png" class="img-fluid" alt="" />
            <img src="../../assets/1pic aboutus.png" class="img-fluid" alt="" />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="img2">
            <img src="../../assets/coffe pic.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
      <p class="text-center py-5">
        Sed pellentesque eu dui ultrices. Eget platea adipiscing fermentum quam.
        Aliquam <br />
        scelerisque libero varius amet. Tellus odio nulla donec fusce eget at
        in.
      </p>
      <div class="row py-5">
        <div class="col-lg-3">
          <div class="count">
            <h1>50M+</h1>
            <p>Emails & SMS per month</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="count">
            <h1>99%</h1>
            <p>Customer Retention</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="count">
            <h1>250%</h1>
            <p>Increase in E-mail Signups</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="count">
            <h1>98%</h1>
            <p>Positive Feedback</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section-two-end  -->
  <!-- section-three start -->

  <div class="section-three py-5">
    <div class="container">
      <div class="text text-center">
        <h2>Our mission</h2>
        <p class="">
          Mattis consectetur commodo est arcu. At mattis pellentesque consequat
          varius quis mattis donec dictumst tempor. Cum ultrices netus aliquam
          pellentesque in tincidunt auctor. Enim egestas sit varius malesuada
          purus, et.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="box">
            <div class="d-flex">
              <h4>Audience Targeting</h4>
              <i class="fa fa-bullseye" aria-hidden="true"></i>
            </div>
            <p>
              Non amet, tempor risus tristique in senectus est justo tincidunt.
              Id mauris pulvinar quisque sed proin. Sed lectus ut orci felis.
            </p>
            <div class="footer d-flex">
              <span>Learn More</span>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box">
            <div class="d-flex">
              <h4>Seamless Integration</h4>
              <i class="fa fa-cubes" aria-hidden="true"></i>
            </div>
            <p>
              Non amet, tempor risus tristique in senectus est justo tincidunt.
              Id mauris pulvinar quisque sed proin. Sed lectus ut orci felis.
            </p>
            <div class="footer d-flex">
              <span>Learn More</span>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box">
            <div class="d-flex">
              <h4>Revenue Multiplier</h4>
              <i class="fa fa-google-wallet" aria-hidden="true"></i>
            </div>
            <p>
              Non amet, tempor risus tristique in senectus est justo tincidunt.
              Id mauris pulvinar quisque sed proin. Sed lectus ut orci felis.
            </p>
            <div class="footer d-flex">
              <span>Learn More</span>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="box">
            <div class="d-flex">
              <h4>Audience Targeting</h4>
              <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </div>
            <p>
              Non amet, tempor risus tristique in senectus est justo tincidunt.
              Id mauris pulvinar quisque sed proin. Sed lectus ut orci felis.
            </p>
            <div class="footer d-flex">
              <span>Learn More</span>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section-three end  -->
    <!-- section-four start  -->
<div class="section-four">
    <div class="container">
        <div class="text text-center">
            <h2>Used by over 10.000 brands all over the world</h2>
            <p>Dolor, sollicitudin tellus morbi egestas facilisi nunc nulla. Id leo pretium non amet diam tincidunt. Mauris at morbi adipiscing at quam fringilla at.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 py-5">
                <div class="imgs">
                   <img src="../../assets/umberela.png" class="img-fluid" width="145" alt=""> 
                </div>
            </div>
            <div class="col-lg-4 py-5">
                <div class="imgs">
                   <img src="../../assets/uturn.png" class="img-fluid" width="145" alt=""> 
                </div>
            </div>
            <div class="col-lg-4 py-5">
                <div class="imgs">
                   <img src="../../assets/sitemark.png" class="img-fluid" width="145" alt=""> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="imgs">
                   <img src="../../assets/recharge.png" class="img-fluid" width="145" alt=""> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="imgs">
                   <img src="../../assets/nextmove.png" class="img-fluid" width="145" alt=""> 
                </div>
            </div>
            <div class="col-lg-4">
                <div class="imgs">
                   <img src="../../assets/hitech.png" class="img-fluid" width="145" alt=""> 
                </div>
            </div>
        </div>
        <div class="p text-center py-3">…and many more</div>
    </div>
</div>
      <!-- section-four end  -->
           <!-- section-five start  -->
    <div class="section-five py-5">
        <div class="container">
            <div class="text">
                <h3>“Realizing the untapped potential of mobile messaging and e-mails, we launched a product designed to power the future of how brands scale personalized experiences.”</h3>
           <div class="img d-flex">
            <img src="../../assets/danialsmith.png" class="img-fluid" alt="">
            <div class="name">
                <span>Daniel Smith</span>
                <p>CEO of Framer</p>
            </div>
           </div>
            </div>
        </div>
    </div>
                <!-- section-five end  -->
                  <!-- section-six start  -->
                  <div class="section-six py-5">
                    <div class="container">
                        <div class="row py-5">
                            <div class="col-lg-6">
                                <div class="text">
                                <h2>Interested in developing our products & services?</h2>  
                                <p>Scelerisque augue congue feugiat lorem. Rhoncus, varius eu tortor suspendisse. Adipiscing adipiscing mauris laoreet egestas id molestie maecenas netus. Porttitor amet vulputate nisl suscipit turpis non.</p>
                                <p>Risus amet sed nunc magnis eget gravida. Tristique donec accumsan, orci donec rhoncus nulla consequat. Eu sollicitudin nisl cursus magna tristique diam porttitor. Non metus, vel in scele.</p> 
                                <div class="button">
                                    <a href="#" class="text-decoration-none">View Available Positions</a>
                                </div> 
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="img">
                                    <img src="../../assets/team.png" class="img-fluid" height="400" width="400" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                    <!-- section-six end  -->
                    <!-- section-seven start  -->
                    <div class="section-seven py-5n">
                        <div class="container">
                          <div class="title justify-content-center align-items-center">
                            <h1>Ready to get started?</h1>
                            <p>Sit egestas luctus ac dolor, porttitor. Massa quam consectetur feugiat maecenas in tellus, eget rhoncus. Elementum est odio</p>
                            <button>Sign Up</button>
                          </div>
                        </div>
                      </div>
                      <!-- section-seven end  -->
  <app-footer></app-footer>
</main>
