<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        JoGeek
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a routerLink="/home" >Home</a>
      <a routerLink="/about" >About</a>
      <a routerLink="/contact-us" >Contact</a>
      <a routerLink="/services" >Gallery</a>
    </div>
  </div>
