<main>
    <app-header></app-header>
    
    
    <div class="section-one py-5">
        <div class="container">
            <div class="contact text-center">
                <ul>
                    <li>
                        <a href="#">pages</a>
                        /
                        <span>Contact </span>
                    </li>
                </ul>
                <h2>Get in touch</h2>
                <p>Morbi egestas fames in sit mus imperdiet pharetra massa velit.<br> Sed non ac fringilla pharetra, felis. Natoque ipsum urna quis</p>
            </div>
        </div>
    </div>

    <!-- section-two start -->
 <div class="section-two">
    <div class="container">
        <div class="main-area">
            <div class="row">
                <div class="col-lg-6">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Name</label>
                          <input type="email" class="form-control" placeholder="Enter your Name" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Email Your Addres</label>
                          <input type="password" class="form-control" placeholder="Enter your email address" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Enter your message</label>
                            <textarea class="form-control" placeholder="Enter your message" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
                <div class="col-lg-6">
                    <div class="info">
                        <h3>Contact Information</h3>
                        <p>Morbi egestas fames in sit mus imperdiet pharetra massa velit. Sed non ac fringilla pharetra, felis. Natoque ipsum urna.</p>
                    <ul>
                        <li>
                            <a href="#">
                                <span>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>
                                <span>hello@framer.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </span>
                                <span>0347 5310100</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </span>
                                <span>liaqat colony</span>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
    <!-- section-two end  -->

    <!-- section-three start -->
    <div class="section-three py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Frequently Asked Questions</h1>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      What is Framer?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" >
                      What is the difference between the Free and Paid versions?
                    </button>
                  </h2>
                  <div id="collapseTw">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What if I decide to change a plan from monthly to annually and back?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How do I add personalized data to messages?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How do I re-subscribe a contact who opted out or was accidentally removed?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
     <!-- section-three end -->
     <!-- section-four start -->
<div class="section-four py-5">
  <div class="container">
    <div class="title justify-content-center align-items-center">
      <h1>Ready to get started?</h1>
      <p>Sit egestas luctus ac dolor, porttitor. Massa quam consectetur feugiat maecenas in tellus, eget rhoncus. Elementum est odio</p>
      <button>Sign Up</button>
    </div>
  </div>
</div>

     <!-- section-four end  -->
    
    
    
    
    
    
    
    
    
    
    
    
    <app-footer></app-footer>
    </main>
    